.politica_menu {
    margin-top: 25px;
}


.politica_menu ul {
    margin-top: 19px;
}

.politica_menu p {
    color: #195F8C;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

}

a {
    text-decoration: none;
}

.politica_menu ul{
margin-top: 10px;
}

.politica_menu ul li {
    color: #000;
    font-size: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    width: 300px;
    margin-left: 30px;
    text-transform: capitalize;
    
}

.politica_menu ul li:hover {
    color: var(--cor-terciaria);
}



.politicas {
    width: 730px;
    

}

.politicas h1 {
    color: #12264B;
    font-size: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.politicas ul li {
    color: #12264B;
    font-size: 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 20px;
}

.politica ul li:hover {
    color: var(--cor-terciaria);
}

.politicas p {
    color: #12264B;
    font-size: 14px;
    font-family: Poppins;
    font-style: normal;
    line-height: normal;

}


  @media screen and (max-width: 768px) {
    main {
       flex-wrap: wrap;
    }

  }

  @media screen and (max-width: 320px) {
    main {
      
       margin-left: 10px;
       width: 300px;
       text-align: justify;
    
    }

    .politicas p{
       line-height: 22px;
    }

  }