@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Righteous&family=Titillium+Web:wght@400;600&display=swap');



.cadastroUsuario {
    width: 100%;
    height: 100%;
    background-color: var(--cor-branco);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fonte-tamanho);
    color: #12264B;
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    justify-content: space-between;

}

.fundo{
    width: 592px;
    height: 100%;

}


.formulario_CadUsuario {
    display: flex;
    flex-direction: column;
    gap: 40x;
    margin: 30px;
    justify-content: center;



}

.cadUsuario {
    width: 100%;
    height: 35px;
    border-radius: 30px;
    background: #EDEDED;
    border: none;



}

.cadUsuario1 {
    width: 200px;
    height: 35px;
    background: var(--cor-secundaria);
    font-size: 15px;
    border-radius: 30 px;
    text-align: center;
    gap: 20px;
    border: none;
}




@media screen and (max-width: 1700px) {
    header a {
        font-size: 20px;
    }

    .imgs_social_medias {
        width: 17%;
    }
}

@media screen and (max-width: 1300px) {
    header a {
        font-size: 18px;
    }
}

@media screen and (max-width: 1100px) {
    header a {
        font-size: 18px;
    }

    header nav {
        width: 70vw;
    }

    .imgs_social_medias {
        width: 20%;
    }

    .imgs_social_medias img {
        width: 28%;
    }

    .fundo {
        display: none;
    }

    .cadastroVeiculo {
        justify-content: center;

    }


}

@media screen and (max-width: 900px) {
    header nav {
        width: 70vw;
    }

    .img_footer {
        margin-left: -16%;
        width: unset;
        height: unset;
    }

    footer span {
        font-size: 16px;
    }

    .footer_text {
        font-size: 16px;
    }

    .alinhamento_footer {
        flex-wrap: wrap;
    }

    footer {
        height: 100%;
    }

    .nav_mobile {
        display: flex;
        width: 50%;
        justify-content: space-between;
        margin-top: 4%;
    }

    .nav_desktop {
        display: none;
    }
}
