@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Righteous&family=Titillium+Web:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins300);
}

:root {
    --dark_blue: #12264B;
    --light_blue: #00B1EB;
    --yellow: #FFD100;
    --grey: #EDEDED;
    --dark_blue2: #252936;

    --poppins300: 'Poppins', sans-serif;
    --poppins500: 'Poppins', sans-serif;

}

/* ESTILIZACAO CARROSEL - SWIPER*/

#banner .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


#banner .slide-item {
    width:100%;
    height: calc(100vh - 150px);
    object-fit: cover;
}

#banner .banner_conteudo{
   display: flex;
}


#banner .produtos_banner_conteudo {
    color: white;
    text-transform: uppercase;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    margin: -440px 0 0 100px;
    /* position: absolute; */


    width: 700px;
    /* height: 400px; */
    z-index: 1;

}

#banner .produtos_banner_conteudo h2 {
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);

}

#banner .produtos_banner_conteudo p {
    margin-top: 40px;
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);

}

#banner .produtos_banner_conteudo .produtos_btn_banner {
    background-color: var(--yellow);
    color: var(--dark_blue);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;

    margin-top: 30px;
    border-radius: 30px;
    width: 150px;
    height: 55px;
    padding: 10px;
    font-weight: bolder;
}